Repository thiagomini/factory-girl-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: add publish scripts
  .gitignore
  package.json
  tsconfig.build.json
Due: npm run prettier

chore: fix prebuild script
  package.json
Due: npm run prettier

fix: export all required files
  src/adapters/index.ts
  src/index.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: fix prettier script
  package.json
  readme.md
Due: npm run prettier

chore: bump version
  package.json
Due: npm run prettier

fix: force build on publish
  package.json
Due: npm run prettier

fix: change all imports to relative
  src/adapters/adapter.interface.ts
  src/adapters/object.adapter.ts
  src/adapters/sequelize.adapter.ts
  src/adapters/typeorm.adapter.ts
  src/association.ts
  src/factory-girl.ts
  src/factory.ts
  src/interfaces/default-attributes-factory.interface.ts
  src/utils.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

fix(adapter): fix creating sequelize instance
  src/adapters/sequelize.adapter.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

fix(factory): fix overriding attributes for create method
  package.json
  src/factory.ts
  test/integration/sequelize.e2e-spec.ts
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

docs: fix docs explaining how to create factories
  package.json
  readme.md
Due: npm run prettier

feat(factory): extend factory method
  readme.md
  src/factory.ts
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(factory): extended factory with transient
  src/factory.ts
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(factory): extended factories with database
  test/integration/sequelize.e2e-spec.ts
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

feat(factory): add afterCreate hook
  readme.md
  src/factory.ts
  src/interfaces/after-create-hook.interface.ts
  src/interfaces/index.ts
  test/integration/sequelize.e2e-spec.ts
  test/integration/typeorm.e2e-spec.ts
  vitest.e2e.config.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: bump package version
  package.json
Due: npm run prettier

feat: implement sequences
  package-lock.json
  src/factory-girl.ts
  src/factory.ts
  test/factory.spec.ts
  test/integration/sequelize.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

fix: remove useless console log
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

feat(FactoryGirl): add generic type to sequence static method
  src/factory-girl.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

docs(readme): add sequences paragraph
  readme.md
Due: npm run prettier

fix: create many with associated factory
  src/factory.ts
  test/factory.spec.ts
  test/integration/sequelize.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: fix documentation
  readme.md
Due: npm run prettier

add factory-girl-ts.drawio
  factory-girl-ts.drawio
Due: none

docs: update factory-girl-ts.drawio
  factory-girl-ts.drawio
Due: none

refactor: remove build flag
  src/factory.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

chore: upgrade version
  package.json
Due: npm run prettier

fix(typeorm): fix instance creation to allow transformation
  package-lock.json
  package.json
  src/adapters/typeorm.adapter.ts
  test/integration/phone.value.ts
  test/integration/typeorm.e2e-spec.ts
  test/integration/typeorm.models.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(typeorm): fix typeorm test
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: lock package versions
  package-lock.json
  package.json
Due: npm run prettier

test(typeorm): change test assertion
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(typeorm): change test assertion
  test/integration/typeorm.e2e-spec.ts
  vitest.e2e.config.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

refactor(typeorm): use typeorm repository to build model
  src/adapters/typeorm.adapter.ts
  test/integration/sequelize.e2e-spec.ts
  test/integration/typeorm.e2e-spec.ts
  test/integration/typeorm.models.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: update package version
  package.json
Due: npm run prettier

fix: make factories always get the most up to date adapter
  src/factory-girl.ts
  src/factory.ts
  test/factory.spec.ts
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: bump version
  .vscode/settings.json
  package.json
Due: npm run prettier

Path conditions:
  npx eslint 'src/**' --fix: any of: *.ts
  npm run prettier: ((any of: *.ts) or (any of: *.md)) or (any of: *.json)
  npm run test: any of: *.ts
