Repository thiagomini/factory-girl-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint 'src/**' --fix, npm run prettier, npm run test

.lintstagedrc.json:

{
  "*.ts": ["npx eslint 'src/**' --fix", "npm run prettier", "npm run test"],
  "*.md": ["npm run prettier"],
  "*.json": ["npm run prettier"]
}

test(sequelize): test associations with sequelize
  .husky/pre-commit
  .lintstagedrc.json
  test/integration/sequelize.e2e-spec.ts
  vitest.config.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: update the pre-commit to run type-checking
  .husky/pre-commit
  package.json
Due: npm run prettier

refactor(sequelize): add stricter types for models
  test/integration/sequelize.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

feat(factory): implement create method
  src/adapters/adapter.interface.ts
  src/adapters/object.adapter.ts
  src/adapters/sequelize.adapter.ts
  src/factory.ts
  test/integration/sequelize.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(factory): add create test
  test/builder.spec.ts
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(factory): create with associated entity
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

feat(factory): implement create many
  src/factory.ts
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(factory): create many entities with given props
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(factory): create many with custom and transient params
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(factory): create many entities with the same props
  test/factory.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(sequelize): create many entities
  package-lock.json
  package.json
  test/integration/sequelize.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: remove unused interfaces
  src/interfaces/associator.interface.ts
  src/interfaces/creator.interface.ts
  src/interfaces/index.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: add typeorm dependencies
  package-lock.json
  package.json
Due: npm run prettier

chore: add node types
  package-lock.json
  package.json
Due: npm run prettier

test(typeorm): ensure it connects
  test/global-setup.ts
  test/integration/typeorm.e2e-spec.ts
  tsconfig.json
  vitest.e2e.config.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(typeorm): builds a model
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(typeorm): build entity with relationship
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

feat(typeorm): creates a model
  package-lock.json
  package.json
  src/adapters/adapter.interface.ts
  src/adapters/typeorm.adapter.ts
  src/factory.ts
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

feat(typeorm): create entity with association
  src/association.ts
  src/factory.ts
  test/integration/typeorm.e2e-spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

refactor(factory): improve readability
  src/factory.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

chore: remove trivial tests
  test/association.spec.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(typeorm): build with active record
  test/integration/typeorm.e2e-spec.ts
  test/integration/typeorm.models.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(typeorm): build with associated active record
  test/integration/typeorm.e2e-spec.ts
  test/integration/typeorm.models.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

feat(typeorm): create entity with active record
  test/integration/typeorm.e2e-spec.ts
  test/integration/typeorm.models.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

test(typeorm): create entity with relationship
  test/integration/typeorm.e2e-spec.ts
  test/integration/typeorm.models.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

refactor(typeorm): move private method below
  src/adapters/typeorm.adapter.ts
Due: npx eslint 'src/**' --fix, npm run prettier, npm run test

docs: add basic documentation
  readme.md
Due: npm run prettier

docs: make it more intuitive
  readme.md
Due: npm run prettier

docs: add create and createMany docs
  readme.md
Due: npm run prettier

docs: add docs about associations
  readme.md
Due: npm run prettier

docs: add tldr section
  readme.md
Due: npm run prettier

docs: add entity to class diagram
  readme.md
Due: npm run prettier

chore: create nodejs test action
  .github/workflows/node.js.yml
Due: none

chore: update node ci action
  .github/workflows/node.js.yml
Due: none

chore: update node version to LTS
  .github/workflows/node.js.yml
  package.json
Due: npm run prettier

chore: change npm install to npm ci
  .github/workflows/node.js.yml
Due: none

chore(ci): execute compose up dettached
  .github/workflows/node.js.yml
Due: none

fix(ci): fix run e2e test command
  .github/workflows/node.js.yml
Due: none

chore(ci): update action name
  .github/workflows/node.js.yml
Due: none

docs: add tests status badge
  readme.md
Due: npm run prettier
